*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

//variables
$color-navbar: #00E8FF;

header{
  img{
    background-size: cover;
  }
}

body{
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(10,1fr);
}

.cuerpo{
    display: grid;
    grid-column: 1/11;
}


.navbarYtarjetas{
    display: grid;
    align-items: start;
    grid-column: 1/11;
    grid-row: 1;
    header{
      margin-bottom: 0.5vw;
    }
    img{
      height: 30vh;
      width: 30vw;
      object-fit: cover;
    }
}

.navbar{
  padding: 0;
  background-image: url(/images/fondoNav.svg);
    background-size: cover;
    overflow: hidden;
  .container-fluid{
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    .navbar-brand{
        margin-left: -7vw;
    }
}
}

.navbar-toggler{
  margin-right: 1vw;
  font-weight: bold;
}

main{
  display: grid;
  grid-row: 2;
  grid-column: 1/11;
  height: 37vw;
}

.carousel-inner{
      height: 60vh;
      width: 80vw;
      object-fit: cover;
      justify-content: center;
}

